.columns > div,
.columns > a {
  display: flex;
  flex-direction: column;
}

.columns > a {
	color: #000;
}

.columns > a:hover {
	text-decoration: none;
}

.columns img {
  width: 100%;
	object-fit: cover;
}

.columns > div.gradient-left ,
.columns > a.gradient-left {
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-40%, rgba(0, 155, 119, .4)), color-stop(26%, #fff));
	background-image: linear-gradient(to right bottom, rgba(0, 155, 119, .4) -40%, #fff 26%);
}

.columns > div.gradient-right ,
.columns > a.gradient-right {
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(-40%, rgba(0, 155, 119, .4)), color-stop(26%, #fff));
	background-image: linear-gradient(to bottom left, rgba(0, 155, 119, .4) -40%, #fff 26%);
}

.columns > div > div,
.columns > a > div {
  order: 1;
}

.columns > div > div:not(.columns-img-col),
.columns > a > div:not(.columns-img-col) {
	padding: 1rem 0;
	box-sizing: border-box;
}

.columns > div > .columns-img-col,
.columns > a > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img,
.columns > a > .columns-img-col img {
  display: block;
}

.columns > a > div:not(.columns-img-col) {
	color: inherit;
}

.columns > div > div:not(.columns-img-col) h3,
.columns > a > div:not(.columns-img-col) h3 {
	margin-top: 0;
	font-size: 26px;
	font-weight: 900;
	color: var(--primary-color);
}

.columns > div > div:not(.columns-img-col) a,
.columns > a > div:not(.columns-img-col) a {
	color: var(--primary-color);
}

.columns > div:hover > div:not(.columns-img-col) h3,
.columns > a:hover > div:not(.columns-img-col) h3 {
	color: var(--hover-color);
}

@media (width >= 900px) {
  .columns > div,
	.columns > a {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div,
	.columns > a > div {
    order: unset;
  }

  .columns > div > .columns-img-col:first-child,
	.columns > a > .columns-img-col:first-child {
    width: 55%;
		-webkit-clip-path: polygon(0 0, 96% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 96% 0, 90% 100%, 0 100%);
  }

	.columns > div > .columns-img-col:last-child,
	.columns > a > .columns-img-col:last-child {
    width: 55%;
		-webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 6% 100%);
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 6% 100%);
  }

	.columns > div > div:not(.columns-img-col),
	.columns > a > div:not(.columns-img-col){
		width: 45%;
	}

	.columns > div > div:not(.columns-img-col) h3,
	.columns > a > div:not(.columns-img-col) h3 {
		font-size: 48px;
	}

	.columns > div > div:not(.columns-img-col),
	.columns > a > div:not(.columns-img-col) {
		padding: 3rem;
	}
}


/* quote variant styles */
.section.columns-container.highlight {
	padding-top: 50px;
	padding-bottom: 50px;
}

.columns.quote > div > div {
	width: 100%;
}

.columns.quote > div a {
	text-decoration: none;
}

/* quote box || left side box */
.columns.quote > div > div:first-of-type {
	background-color: var(--white);
    padding: 55px 70px;
    margin-left: 60px;
}

.columns.quote > div > div:first-of-type > h3 {
	font-weight: 700;
    font-size: 23px;
	line-height: 1.4em;
	margin: 0;
	margin-bottom: 40px;
}

.columns.quote > div > div:first-of-type > h4 {
	font-size: 18px;
    font-weight: 700;
    margin: 32px 0 0;
}

.columns.quote > div > div:first-of-type > p {
	font-size: 14px;
	margin: 0;
}

/* right side */
.columns.quote > div > div:last-of-type {
    margin-right: 60px;
    padding: 0 16px;
}

.columns.quote > div > div:last-of-type h3 {
	color: var(--lenovo-red);
	font-size: 30px;
	font-weight: 700;
	margin: 8px 0 16px;
}

.columns.quote > div > div:last-of-type p {
	margin: 0;
	font-size: 1rem;
    line-height: 1.4rem;
}

.columns.quote > div > div:last-of-type p strong {
	font-weight: 800;
}

.columns.quote > div > div:last-of-type p > a {
	text-decoration: underline;
}


@media (width <= 1280px) {
	.columns.quote > div > div:first-of-type {
		padding: 36px;
	}
}

@media (width <= 900px) {
	.section.columns-container.highlight {
		padding-top: 92px;
		padding-bottom: 92px;
	}

	.columns.quote > div > div:first-of-type {
		margin-left: 0;
		padding: 20px 0;
	}

	.columns.quote > div > div:first-of-type > h3 {
		margin: 0 24px;
		font-size: 23px;
	}

	.columns.quote > div > div:first-of-type > p {
		text-align: right;
		margin: 0 24px;
	}

	.columns.quote > div > div:first-of-type > h4 {
		text-align: right;
		margin: 32px 24px 0;
	}

	.columns.quote > div > div:last-of-type {
		margin: 0 20px;
		padding: 0;
	}
}

@media (width <= 686px) {
	.columns.quote > div > div:last-of-type h3 {
		font-size: 22px;
	}
}