.article-wrapper > .article {
	padding: 80px 1.5 rem 0 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
}

.article-content-wrapper {
	grid-column: span 9;
}

.article-content-wrapper > div h2 {
	margin: 0 0 32px 0;
	color: var(--text-color);
	line-height: 1.3;
    font-size: 1.4rem;
	font-weight: 600;
}

.article-content-wrapper > div h3 {
	font-size: 1.25rem;
    margin-bottom: 0.5rem;
	color: var(--text-color);
}

.article-content-wrapper > div a {
	text-decoration: underline;
	text-underline-position: under;
	color: var(--link-hover-color);
	font-weight: 600;
}

.article-content-wrapper > div a:hover {
	text-decoration: none;
}

.article-content-wrapper > div p,
.article-content-wrapper > div ul {
    line-height: 1.6;
    letter-spacing: .01em;
	font-weight: 400;
	font-size: 1rem;
}

.article-content-wrapper > div p:last-of-type {
	margin-bottom: 64px;
}

.article .sidebar {
	grid-column: span 3;
	padding: 1rem;
}

.article .sidebar h3 {
    color: var(--subheading-color);
	letter-spacing: .06em;
    line-height: 1.5;
	font-size: .875rem;
	margin: 0 0 10px 0;
	font-weight: 700;
	border-bottom: 2px solid #dfdfdf;
}

.article .sidebar a {
	position: relative;
	color: var(--link-hover-color);
	font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
	display: block;
	margin-bottom: 1rem;
	width: fit-content;
}

.article .sidebar a:hover {
	text-decoration: underline;
	text-underline-position: under;
}

@media (width <= 900px) {
	.article-wrapper > .article {
		grid-template-columns: repeat(4, 1fr);
		padding: 1rem 0;
	}
	
	.article-content-wrapper {
		grid-column: span 4;
	}

	.article .sidebar {
		grid-column: span 4;
	}
}